<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<appSettings>
		<add key="serviceName" value="MonitoringEngine" />
		<add key="source" value="MonitoringSourceLog" />
		<add key="logName" value="MonitoringServiceLog" />
	</appSettings>
    <connectionStrings>
        <add name="Logger2.Properties.Settings.MonitoringDataConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=MonitoringData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>